
# /etc/saslauthd.conf example

# AD server adress
ldap_servers: ldap://ad.example.com

# default domain name
ldap_search_base: DC=ad,DC=example,DC=com

# authentication account
ldap_bind_dn: usermanager@ad.example.com
ldap_bind_pw: usermanager_password_!

# user matching for AD
ldap_filter: (&(objectClass=Person)(sAMAccountName=%u))
ldap_password_attr: userPassword

# limit by group
# %r : svn realm
ldap_group_dn: CN=%r,DC=ad,DC=example,DC=com
ldap_group_attr: member
